.Female_To_Female {
width: 100%;
background: url('../../assets/adventure-bg.jpg');
}
.customer-services {
padding: 1em;
background: rgb(255, 255, 255);
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
}
.spa-contents {
width: 100%;
padding: 1em;
}
.spa-contents h3 {
color: rgb(168, 5, 5);
font-weight: 600;
}
.spa-contents a {
display: inline-block;
padding: 0.5em;
color: rgb(255, 255, 255);
background: rgb(168, 5, 5);
border-radius: 3px;
}
.maletofemale {
width: 100%;
}
.maletofemale h1 {
color: rgb(168, 5, 5);
font-size: 32px;
display: inline-block;
}