.App {
background: url('assets/news-bg.jpg') fixed no-repeat center center / cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position: relative;
width: 100%;
}